/*======== GERAL ====================================*/
:root {
  font-size: 62.5%;
  --primary-color: #0B2234;
  --secondary-color: white;
  --tertiary-color: #575757;
  
  --nav-height: 8.4rem;
  --slider-width: 100vw;
  --slider-height: calc(100vh - var(--nav-height));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;

  text-align: center;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  
  /* overflow: overlay;  /* não funciona no firefox */
}
.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;
}
.buttonContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  width: fit-content;

  margin-top: 4.8rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem 3.2rem;

  border: none;
  border-radius: 4rem;
  
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: var(--primary-color);

  transition: all 200ms ease-in-out;
}
.buttonContact:hover {
  background-color: var(--primary-color-hover);
}
section {
  padding-top: calc(1.5rem + var(--nav-height) );
  padding-inline: 4rem;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
section header h1,
section .wrapper h2 {
  position: relative;
  max-width: 260px;
  margin-bottom: 2.4rem;

  font-size: 3.2rem;
  line-height: 150%;
  text-transform: uppercase;
  text-align: left;
  color: white;
}
section header h1::after,
section .wrapper h2::after {
  content: '';
  width: 100%;
  height: 1px;
  top: calc(100% + 2.4rem);
  right: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
/* section header h2{
  font-size: 3.0rem;
  text-transform: uppercase;
  line-height: 3.9rem;
  color: white;
} */
section h4::before,
section .wrapper h2 + p::before{
  content: '';
  width: 50%;
  height: 1px;
  top: 0;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
section .wrapper p {
  padding-top: 2.4rem;

  font-size: 1.6rem;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 300;
  position: relative;
}
section img {
  width: 100%;
  border-radius: .6rem;
}
.social-links ul {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: center;
}
.slide{
  user-select: none;
}
.grabbing{
  cursor:grabbing;
  transition: transform .1s ease-in-out;
}
/*======== NAV ====================================*/
nav {
  position: fixed;
  top: 0;

  width: 100%;
  height: var(--nav-height);
  padding: 1.6rem 2.4rem;
  
  display: flex;
  transition: height .3s ease-in-out;

  z-index: 100;
}
nav .menu,
nav .closeMenu {
  display: none;
}
nav .wrapper {
  display: grid;
  grid-template-areas: 
  'logo button'
  'menu menu';
  grid-template-rows: auto auto;
  align-self: center;
  align-items: stretch;
  border: none;
}
nav .wrapper .logo {
  grid-area: logo;
  justify-self: start;
  align-content: center;
}
nav .wrapper .logo img{
  width:  13rem;
  height: 3.6rem;
}
nav .openMenu path {
  stroke: var(--tertiary-color);
}
nav .wrapper button{
  grid-area: button;
  justify-self: end;

  background-color: transparent;
  border: none;
}
nav, nav.scroll{
  background-color: white;
}
/*======== MENU EXPANDED ====================================*/
body.menu-expanded{
  overflow: hidden;
}
body.menu-expanded > :not(nav) {
  visibility: hidden;
}
body.menu-expanded nav{
  top: 0;
  height: 100%;
  background-color: white;
}
body.menu-expanded nav .menu{
  grid-area: menu;

  margin-block: auto;
}
body.menu-expanded nav .openMenu {
  display: none;
}
body.menu-expanded nav .menu,
body.menu-expanded nav .closeMenu {
  display: block;
  transform: translateY(0);
}
body.menu-expanded .menu > ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4.8rem;
}
body.menu-expanded .menu > ul li a{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
body.menu-expanded .menu .social-links{
  margin-top: 15rem;
}
body.menu-expanded .menu .social-links svg *{
  stroke: var(--tertiary-color);
}
body.menu-expanded nav .closeMenu {
  grid-area: 'button';
}
body.menu-expanded nav .closeMenu path{
  stroke: var(--tertiary-color);
  stroke-width: 4;
}
body.menu-expanded nav .wrapper{
  width: min(50rem, 100%);  
  grid-template-rows: auto 80vh;
}
/*======== HOME/HEADER ====================================*/
#home {
  padding-top: calc(5rem + var(--nav-height) );
  background-image: url('./assets/1.jpg');
  background-size: auto 100vh;
  background-position: 40%;
  background-repeat: no-repeat;
  object-fit: cover;
}
#home header h4 {
  max-width: 280px;
  padding-top: 2.4rem;

  font-size: 1.6rem;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 300;
  position: relative;
}

/*======== ABOUT ====================================*/
#about .wrapper{
  padding-block: 10rem;
}
#about .wrapper h2.missao{
  margin-top: 10rem;
}
#about .wrapper p {
  margin-bottom: 2rem;
}
/*======== INDUSTRY ====================================*/
#industry{
  position: relative;
}
#industry .slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + var(--nav-height)/2));
  width: var(--slider-width);
  height: var(--slider-height);
}

#industry .slider .wrapper-full  {
  overflow: hidden;
  position: relative;
  width: var(--slider-width);
  height: var(--slider-height);
  z-index: 1;
}

#industry .slider .wrapper-full .slides {
  display: flex;
  position: relative;
  top: 0;
  left: - var(var(--slider-width));
  width: 10000px;
}

#industry .slider .wrapper-full .slides.shifting {
  transition: left .2s ease-out;
}

#industry .slider .wrapper-full .slides .slide {
  width: var(--slider-width);
  height: var(--slider-height);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 1s;
  position: relative;
  border-radius: 2px;
}
#industry .slider .wrapper-full .slides .slide::before{
  content: '';
  width: var(--slider-width);
  height: var(--slider-height);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 1;
  transition: opacity .3s;
}
#industry .slider .wrapper-full .slides div.tech::before{
  background-color: blue;
  background-image: url('./assets/tech.jpg');
}
#industry .slider .wrapper-full .slides div.safety::before{
  background-color: green;
  background-image: url('./assets/safety.jpg');
}
#industry .slider .wrapper-full .slides div.systems::before{
  background-image: url('./assets/systems.jpg');
}
#industry .slider .wrapper-full .slides div.academy::before{
  background-image: url('./assets/academy.jpg');
}
#industry .slider .wrapper-full .slides .slide img{
  width: 30rem;
  margin-bottom: 4rem;
}
#industry .slider .wrapper-full .slides .slider.loaded .slide{
  background: transparent;
}
#industry .slider .wrapper-full .scrollbar{
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  height: 23px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  background: transparent;
  border-radius: 50px;
  margin-top: -20px;
  z-index: 2;
}
#industry .slider .wrapper-full .scrollbar .prev,
#industry .slider .wrapper-full .scrollbar .next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#industry .slider .wrapper-full .scrollbar .prev:active,
#industry .slider .wrapper-full .scrollbar .next:active {
  transform: scale(.8);
}

/*======== SERVICES ====================================*/
#services{
  position: relative;
}
#services .wrapper-full{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
}
#services .slides{
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  transition: transform .3s ease-in-out;
}
#services .wrapper-full .slides .slide{
  padding-top: calc(5rem + var(--nav-height) );
  padding-bottom: 8rem;
  padding-inline: 5rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex: 100vw 0 0;
  gap:2rem;
  justify-content: flex-start;
  align-items:center;
}
#services .wrapper-full .slides .slide .conteudo{
  flex: 1;
  text-align: left;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;
}
#services .wrapper-full .slides .slide .conteudo p:not(:last-of-type){
  margin-bottom: 2rem;
}
#services .wrapper-full .slides .slide img{
  width: 20rem;
}
#services .wrapper-full .slides::before{
  content: '';
  width: 400vw;
  height: 100vh;
  background-size: 400vw auto;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
#services .wrapper-full .slides.grabbing::before{
  opacity: 0.5;
}
#services .wrapper-full .slides::before{
  background-image: url('./assets/bg-servicos.jpg');
}
#services div.scrollbar{
  max-width: calc(100% - 8rem);
  height: 2.5rem;
  position: absolute;
  bottom:2.5rem;
  display: flex;

  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  /* alinha os itens na horizontal pois o flex-direction ta como row */
  
  width: calc(100vw - 8rem);
  z-index: 1000;
}
#services div.scrollbar div.esquerda{
  justify-self: right;
}
#services div.scrollbar div.direita{
  justify-self: left;
}
/*======== SYSTEMS ====================================*/
#systems{
  background-image: url('./assets/systems-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#systems .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#systems .wrapper h2{
  text-align: right;
  margin-left: auto;
  min-width: fit-content;
  line-height: 3.9rem;
}
#systems .wrapper h2::after {
  content: '';
  height: 1px;
  width: 150vw;
  top: calc(100% + 2.4rem);
  right: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
#systems .wrapper .systems div img{
  width: 20rem;
}

/*======== CONTACT ====================================*/
#contact {
  position: relative;

  background-image: url('./assets/Contato-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#contact .wrapper{
  padding-block: 5rem;
}
#contact > .wrapper > img{
  padding-top: 5rem;
  width: 20rem;
}
/*======== FOOTER ====================================*/
#contact footer{
  position: absolute;
  left:0;
  width: 100%;
  height: 100vh;

  display: flex;

  background-color: var(--primary-color);
}
#contact footer .wrapper{
  padding: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-content: space-around;
  align-items: center;
}
#contact footer .wrapper .logo img{
  width: 25.8rem;
}
#contact footer .wrapper .social-links h2{
  width: fit-content;
  font-size: 3.2rem;
  line-height: 3.9rem; 
  max-width: 100%;
  text-align: center;
}
#contact footer .wrapper .social-links svg{
  width: 5rem;
  height: auto;
}
#contact footer .wrapper .social-links h2::after{
  display: none;
}
#contact footer .wrapper .social-links ul{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}
#contact footer .wrapper .infos{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact footer .wrapper .infos span{
  display: block;
  font-weight: bold;
}
#contact footer .wrapper .infos p:last-of-type{
  text-align: right;
}

/*======== BACK TO TOP BUTTON ====================================*/
#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;

  border: .1rem solid white;
  border-radius: 50%;

  opacity: 0;
  visibility: hidden;

  transition: all .2s ease-in-out;
}
#backToTop svg circle{
  fill: var(--primary-color);
  transition: all .2s ease-in-out;
}
#backToTop:hover svg circle{
  fill: var(--primary-color-hover);
}
#backToTop.show{
  opacity: 1;
  visibility: visible;
}

/*======== RESPONSIVIDADE ====================================*/
@media (min-width: 1024px) {
  /*======== RESET ====================================*/
  nav#navigation .wrapper *{
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    grid-template-areas: initial;
  }
  /*======== GERAL ====================================*/
  .wrapper {
    width: min(112rem, 100%);
  }
  section:not(#home){
    padding-bottom: 5rem;
    padding-top: calc(5rem + var(--nav-height) );
  }
  section:not(#home) h2{
    font-size: 4rem;
    line-height: 5.2rem;
  }
  /*======== NAVIGATION ====================================*/
  nav#navigation .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'logo menu';
  }
  nav#navigation .menu{
    display: block;
  }
  nav#navigation .menu ul{
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    padding-block: 1rem;
  }
  nav#navigation .menu ul li{
    gap: 3.2rem;
  }
    nav#navigation .menu ul li a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.7;
    color: var(--tertiary-color);
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  nav#navigation .menu ul li a.active,
  nav#navigation .menu ul li a:hover{
    color: var(--primary-color);
    opacity: 1;
  }
  nav#navigation .wrapper button,
  nav#navigation .wrapper .social-links{
    display: none;
  }
  nav#navigation.scroll .menu ul li a.active::after,
  nav#navigation.scroll .menu ul li a:hover::after{
    background-color: var(--primary-color);
  }
  /*======== HOME ====================================*/
  #home::before{
    height: calc(95% - var(--nav-height));
  }
  #home {
    background-size: 100% auto;
  }
  #home header{
    text-align: right;
  }
  #home header h1{
    font-size: 4rem;
    margin-bottom: 0;

    max-width:100%;
    text-align: right;
  }
  #home header h4{
    font-size: 1.8rem;

    max-width:100%;
    text-align: right;
    position: relative;
    display: inline-block;
  }
  #home h1::after{
    display: none;
  }
  #home h4::before{
    content: '';
    width: 100vw;
    height: 1px;
    transform: translateX(-101%);
    top: 3.8rem;
    background-color: var(--secondary-color);
    position: absolute;
    display: block;
  }
  /*======== ABOUT ====================================*/
  section#about {
    padding-bottom: 0;
  }
  #about h2{
    max-width: 100%;
    margin-bottom: 0;
  }
  #about h2::after{
    display: none;
  }
  #about h2 + p::before{
    content: '';
    width: 100vw;
    height: 1px;
    transform: translateX(-101%);
    top: 3.8rem;
    background-color: var(--secondary-color);
    position: absolute;
    display: block;
  }
  /*======== INDUSTRY ====================================*/
  #industry .wrapper-full .slides{
    max-width: 100vw;
  }
  #industry .wrapper-full .slides .slide{
    max-width: 25vw;
    flex: 1 0 0;
  }
  #industry:not(.slide-active) .slider .wrapper-full .slides .slide{
    cursor: initial;
  }
  #industry .wrapper-full .slides .slide::before{
    max-width: 25vw;
  }
  #industry .wrapper-full .slides .slide img{
    width: 70%;
  }
  #industry .slider .wrapper-full .scrollbar{
    display: none;
  }

  /*======== SERVICES ====================================*/
  #services .wrapper-full .slides{
    max-width: 100vw;
  }
  #services .wrapper-full .slides::before{
    background-size: 100vw auto;
    background-position: left;
  }
  #services .wrapper-full .slides .slide{
    max-width: 25vw;
    padding-bottom: 2rem;
  }
  #services .wrapper-full .slides .slide img{
    width: 50%;
  }
  #services div.scrollbar{
    display: none;
  }
    /*======== SYSTEMS ====================================*/
    #systems .wrapper h2{
      font-size: 4rem;
      line-height: 4.9rem;
    }
    #systems .wrapper h2::after{
      top: calc(50% + 2.6rem);
      right: 98%;
    }
    #systems .wrapper .systems{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #systems .wrapper .systems div img{
      width: 40rem;
    }
    /*======== CONTACT ====================================*/
    #contact .wrapper{
      height: calc(100vh - var(--nav-height));

      display: flex;
      flex-direction: row;
      gap: 5rem;

      align-self: center;
    }
    #contact > .wrapper > img{
      padding-top: 5rem;
      width: 100%;
      max-width: 20rem;
    }
    /*======== FOOTER ====================================*/
    #contact footer{
      height: auto;
    }
    #contact footer .wrapper{
      width: 100%;
      padding: 5rem;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 2rem;

      justify-content: space-around;
      align-items: center;
    }
    #contact footer .wrapper .logo img{
      width: 25.8rem;
    }
    #contact footer .wrapper .social-links h2{
      width: fit-content;
      line-height: 3.9rem; 
      max-width: 100%;
    }
    #contact footer .wrapper .social-links h2::after{
      display: none;
    }
    #contact footer .wrapper .social-links ul{
      display: flex;
      flex-direction: row;
      gap: 5rem;
    }
    #contact footer .wrapper .infos {
      width: initial;
      display: flex;
      flex-direction: column;
    }
    #contact footer .wrapper .infos p{
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }
    #contact footer .wrapper .infos span {
      display: unset;
      width: min-content;
    }
    #contact footer .wrapper .infos p:last-of-type{
      text-align: left;
    }
}