/*======== GERAL ====================================*/
:root {
  font-size: 62.5%;
  --primary-color: #0B2234;
  --secondary-color: white;
  --tertiary-color: #575757;
  
  --nav-height: 8.4rem;
  --slider-width: calc(100vw - var(--scrollbar-width));
  --slider-height: 100vh;
  --scrollbar-width: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;

  text-align: center;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  
  /* overflow-x: hidden; */
}
.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;
}
.buttonContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  width: fit-content;

  margin-top: 4.8rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem 3.2rem;

  border: none;
  border-radius: 4rem;
  
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: var(--primary-color);

  transition: all 200ms ease-in-out;
}
.buttonContact:hover {
  background-color: var(--primary-color-hover);
}
section {
  padding-top: calc(1.5rem + var(--nav-height) );
  padding-inline: 4rem;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
section header h1,
section .wrapper h2 {
  position: relative;
  max-width: 260px;
  margin-bottom: 2.4rem;

  font-size: 3.2rem;
  line-height: 150%;
  text-transform: uppercase;
  text-align: left;
  color: white;
}
section header h1::after,
section .wrapper h2::after {
  content: '';
  width: 100%;
  height: 1px;
  top: calc(100% + 2.4rem);
  right: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
/* section header h2{
  font-size: 3.0rem;
  text-transform: uppercase;
  line-height: 3.9rem;
  color: white;
} */
section h4::before,
section .wrapper h2 + p::before{
  content: '';
  width: 50%;
  height: 1px;
  top: 0;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
section .wrapper p {
  padding-top: 2.4rem;

  font-size: 1.6rem;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 300;
  position: relative;
}
section img {
  width: 100%;
  border-radius: .6rem;
}
.social-links ul {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: center;
}
.slide{
  user-select: none;
}
.grabbing{
  cursor:grabbing;
  transition: transform .1s ease-in-out;
}
/*======== NAV ====================================*/
nav {
  position: fixed;
  top: 0;

  width: 100%;
  height: var(--nav-height);
  padding: 1.6rem 2.4rem;
  
  display: flex;
  transition: height .3s ease-in-out;

  z-index: 100;
}
nav .menu,
nav .closeMenu, 
nav .menu.social-links {
  display: none;
}
nav .menu, 
nav .menu.social-links{
  height: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  transition-delay: .2s;
}
nav .wrapper {
  display: grid;
  grid-template-areas: 
  'logo currentSection button'
  'menu menu menu';
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;
  align-self: center;
  align-items: center;
  border: none;
}

nav .wrapper .logo {
  grid-area: logo;
  justify-self: start;
  align-content: center;
}

nav .wrapper .logo img{
  width:  13rem;
  height: auto;
}
nav .wrapper #currentSection{
  grid-area: currentSection;
  justify-self: flex-end;
  text-align: right;

  color: var(--tertiary-color);
  transition: all .3s ease-in-out;
}
nav .openMenu path {
  stroke: var(--tertiary-color);
}
nav .wrapper button{
  grid-area: button;
  justify-self: end;

  background-color: transparent;
  border: none;
}
nav, nav.scroll{
  background-color: white;
}
/*======== MENU EXPANDED ====================================*/
body.menu-expanded{
  overflow: hidden;
}
body.menu-expanded > :not(nav) {
  visibility: hidden;
}
body.menu-expanded nav{
  top: 0;
  height: 100%;
  background-color: white;
}
body.menu-expanded nav .menu{
  height: auto;
  opacity: 1;
  grid-area: menu;

  margin-block: auto;
}
body.menu-expanded nav .openMenu {
  display: none;
}
body.menu-expanded nav .menu,
body.menu-expanded nav .closeMenu {
  display: block;
  transform: translateY(0);
}
body.menu-expanded .menu > ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}
body.menu-expanded .menu > ul li a{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color:var(--tertiary-color);
  transition: all .3s ease-in-out;
}
body.menu-expanded .menu > ul li a:hover,
body.menu-expanded .menu > ul li a:active{
  color:var(--primary-color);
}
body.menu-expanded .menu .social-links{
  height: auto;
  opacity: 1;
  margin-top: 5rem;
}
body.menu-expanded .menu .social-links svg *{
  fill: var(--tertiary-color);
}
body.menu-expanded nav .closeMenu {
  grid-area: 'button';
}
body.menu-expanded nav .closeMenu path{
  stroke: var(--tertiary-color);
  stroke-width: 4;
}
body.menu-expanded nav .wrapper{
  width: min(50rem, 100%);  
  grid-template-rows: auto 80vh;
  padding-block: 2rem;
}
/*======== HOME/HEADER ====================================*/
#home {
  padding-top: calc(5rem + var(--nav-height) );
  background-image: url('./assets/1.jpg');
  background-size: auto 100vh;
  background-position: 40%;
  background-repeat: no-repeat;
  object-fit: cover;
}
#home header h4 {
  max-width: 280px;
  padding-top: 2.4rem;

  font-size: 1.6rem;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 300;
  position: relative;
}

/*======== ABOUT ====================================*/
#about .wrapper{
  padding-block: 2.5rem;
}
#about .wrapper h2.missao{
  margin-top: 10rem;
}
#about .wrapper p {
  margin-bottom: 2rem;
}
/*======== INDUSTRY | SERVICES  ====================================*/
#industry,
#services{
  position: relative;
  height: calc(var(--slider-height) * 4);
  width: var(--slider-width);
}
#industry .slider,
#services .slider{
  position: absolute;
  top: 0;
  left: 0;
}

#industry .slider .wrapper-full,
#services .slider .wrapper-full{
  overflow: hidden;
  z-index: 1;
}

#industry .slider .wrapper-full .slides,
#services .slider .wrapper-full .slides{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#industry .slider .wrapper-full .slides .slide::after{
  content: '';
  width: 100%;
  height: 1px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
/* ----- ONLY INDUSTRY SLIDER ----- */
#industry .slider .wrapper-full .slides .slide{
  width: var(--slider-width);
  height: var(--slider-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 1s;
  position: relative;
  border-radius: 2px;
}
#industry .slider .wrapper-full .slides .slide::before{
  content: '';
  width: var(--slider-width);
  height: var(--slider-height);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 1;
  transition: opacity .3s;
}
#industry .slider .wrapper-full .slides div.tech::before{
  background-image: url('./assets/tech.jpg');
}
#industry .slider .wrapper-full .slides div.safety::before{ 
  background-image: url('./assets/safety.jpg');
}
#industry .slider .wrapper-full .slides div.systems::before{
  background-image: url('./assets/systems.jpg');
}
#industry .slider .wrapper-full .slides div.academy::before{
  background-image: url('./assets/academy.jpg');
}
#industry .slider .wrapper-full .slides .slide img{
  width: 30rem;
  margin-bottom: 1rem;
}
#industry .slider .wrapper-full .slides .slider.loaded .slide{
  background: transparent;
}
/* ----- ONLY SERVICES SLIDER ----- */
#services .slider .wrapper-full .slides .slide{
  width: var(--slider-width);
  height: var(--slider-height);
  padding-top: calc(5rem + var(--nav-height) );
  padding-bottom: 8rem;
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  position: relative;
}
#services .slider .wrapper-full .slides .slide::after{
  content: '';
  width: 100%;
  height: 1px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;

}
#services .slider .wrapper-full .slides .slide .conteudo{
  flex: 1;
  text-align: left;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;
}
#services .slider .wrapper-full .slides .slide .conteudo p:not(:last-of-type){
  margin-bottom: 2rem;
}
#services .slider .wrapper-full .slides .slide img{
  width: 20rem;
}
#services .slider .wrapper-full .slides .slide::before{
  content: '';
  width: var(--slider-width);
  height: 100vh;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 1;
  top: 0;
  left: 0;
  transition: opacity .3s ease-in-out;
}
#services .slider .wrapper-full .slides div.tech::before{
  background-image: url('./assets/bg-tech.png');
}
#services .slider .wrapper-full .slides div.safety::before{
  background-image: url('./assets/bg-safety.png');
}
#services .slider .wrapper-full .slides div.systems::before{
  background-image: url('./assets/bg-systems.png');
}
#services .slider .wrapper-full .slides div.academy::before{
  background-image: url('./assets/bg-academy.png');
}
/*======== SYSTEMS ====================================*/
#systems{
  background-image: url('./assets/systems-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#systems .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#systems .wrapper h2{
  text-align: right;
  margin-left: auto;
  min-width: fit-content;
  line-height: 3.9rem;
}
#systems .wrapper h2::after {
  content: '';
  height: 1px;
  width: 150vw;
  top: calc(100% + 2.4rem);
  right: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
#systems .wrapper .systems div img{
  width: 20rem;
}
/*======== TEAM ====================================*/
#team{
  background-color: var(--primary-color);
}
#team .wrapper .col-A{
  padding-block: 5rem;
  
  height: calc(100vh - (1.5rem + var(--nav-height)) );
}

#team .wrapper .col-A:after{
  position: relative;
  display: block;
  content: '';
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: var(--slider-width);
  height: 100%;
  background-image: url('./assets/ProAeroEquipe_2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#team .wrapper h2{
  margin-bottom: 0;
}
#team .wrapper h2::after{
  display: none;
}
#team .wrapper h2 + p::before {
  content: '';
  width: 100vw;
  height: 1px;
  transform: translateX(-101%);
  top: 3.8rem;
  background-color: var(--secondary-color);
  position: absolute;
  display: block;
}
/*======== CONTACT ====================================*/
#contact {
  position: relative;

  background-image: url('./assets/Contato-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#contact .wrapper{
  padding-block: 5rem;
}
#contact > .wrapper > img{
  padding-top: 5rem;
  width: 20rem;
}
/*======== FOOTER ====================================*/
#contact .wrapper{
  display: flex;
  flex-direction: column;
  gap: 5rem;

  align-self: center;
}
#contact footer{
  position: absolute;
  left:0;
  width: 100%;
  height: 100vh;

  display: flex;

/*   background-color: var(--primary-color); */
}
#contact footer .wrapper{
  padding-top: calc(5rem + var(--nav-height));
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-inline: 5rem;
  padding-bottom: 5rem;
}
#contact footer .wrapper .logo img{
  width: 25.8rem;
}
#contact footer .wrapper .social-links h2{
  width: fit-content;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.9rem; 
  max-width: 100%;
}
#contact footer .wrapper .social-links svg{
  width: 5rem;
  height: auto;
}
#contact footer .wrapper .social-links h2::after{
  display: none;
}
#contact footer .wrapper .social-links ul{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}
#contact footer .wrapper .infos{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact footer .wrapper .infos span{
  display: block;
  font-weight: bold;
}
#contact footer .wrapper .infos p:last-of-type{
  text-align: right;
}
/*======== LANGUAGE SWITCH ====================================*/
#language {
  position: fixed;
  top: var(--nav-height);
  right: 2rem;
  width: auto;
  height: auto;
  padding: 1rem;

  background-color: var(--primary-color);
  color: white;
  font-size: .6rem;
  text-decoration: none;
  border: .1rem solid white;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  transition: all .5s ease-in-out;
}
#language:hover {
  padding-top: 2rem;
}
/*======== BACK TO TOP BUTTON ====================================*/
#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;

  border: .1rem solid white;
  border-radius: 50%;

  opacity: 0;
  visibility: hidden;

  transition: all .2s ease-in-out;
}
#backToTop svg circle{
  fill: var(--primary-color);
  transition: all .2s ease-in-out;
}
#backToTop:hover{
  animation-name: moveToTop;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#backToTop.show{
  opacity: 1;
  visibility: visible;
}
@keyframes moveToTop{
  from {bottom: 2rem;}
  to {bottom: 3rem;}
}

/*======== RESPONSIVIDADE ====================================*/
@media (min-width: 1024px) {
  /*======== RESET ====================================*/
  nav#navigation .wrapper *{
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    grid-template-areas: initial;
  }
  /*======== GERAL ====================================*/
  .wrapper {
    width: min(112rem, 100%);
  }
  section:not(#home){
    padding-bottom: 5rem;
    padding-top: calc(5rem + var(--nav-height) );
  }
  section:not(#home) h2{
    font-size: 4rem;
    line-height: 5.2rem;
  }
  /*======== NAVIGATION ====================================*/
  nav#navigation .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'logo menu';
  }
  nav#navigation .wrapper .logo{
    display: flex;
  }
  nav#navigation .wrapper #currentSection{
    display: none;
  }
  nav#navigation .menu{
    display: flex;
  }
  nav#navigation .menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 3.2rem;
    padding-block: 1rem;
  }
  nav#navigation .menu ul li{
    gap: 3.2rem;
  }
    nav#navigation .menu ul li a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.7;
    color: var(--tertiary-color);
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  nav#navigation .menu ul li a.active,
  nav#navigation .menu ul li a:hover{
    color: var(--primary-color);
    opacity: 1;
  }
  nav#navigation .wrapper button,
  nav#navigation .wrapper .social-links{
    display: none;
  }
  nav#navigation.scroll .menu ul li a.active::after,
  nav#navigation.scroll .menu ul li a:hover::after{
    background-color: var(--primary-color);
  }
  /*======== HOME ====================================*/
  #home::before{
    height: calc(95% - var(--nav-height));
  }
  #home {
    background-size: 100% auto;
  }
  #home header{
    text-align: right;
  }
  #home header h1{
    font-size: 4rem;
    margin-bottom: 0;

    max-width:100%;
    text-align: right;
  }
  #home header h4{
    font-size: 1.8rem;

    max-width:100%;
    text-align: right;
    position: relative;
    display: inline-block;
  }
  #home h1::after{
    display: none;
  }
  #home h4::before{
    content: '';
    width: 100vw;
    height: 1px;
    transform: translateX(-101%);
    top: 3.8rem;
    background-color: var(--secondary-color);
    position: absolute;
    display: block;
  }
  /*======== ABOUT ====================================*/
  section#about {
    padding-bottom: 0;
  }
  #about h2{
    max-width: 100%;
    margin-bottom: 0;
  }
  #about h2::after{
    display: none;
  }
  #about h2 + p::before{
    content: '';
    width: 100vw;
    height: 1px;
    transform: translateX(-101%);
    top: 3.8rem;
    background-color: var(--secondary-color);
    position: absolute;
    display: block;
  }
   /*======== INDUSTRY ====================================*/
   #industry, #services{
    height: var(--slider-height);
   }
   #industry .slider .wrapper-full .slides,
   #services .slider .wrapper-full .slides{
     max-width: 100%;
     flex-direction: row;
   }
   #industry .wrapper-full .slides .slide,
   #services .wrapper-full .slides .slide{
     max-width: calc(var(--slider-width)/4);
     flex: 1 0 0;
   }
   #services .slider .wrapper-full .slides .slide{
    padding-bottom: 2rem;
  }
  #industry  .slider .wrapper-full .slides .slide::after,
  #services .slider .wrapper-full .slides .slide::after{
    display: none;
  }
   #industry:not(.slide-active) .slider .wrapper-full .slides .slide,
   #services:not(.slide-active) .slider .wrapper-full .slides .slide{
     cursor: initial;
   }
   #industry .wrapper-full .slides .slide::before{
     max-width: 25vw;
   }
   #industry .wrapper-full .slides .slide img{
     width: 70%;
   }
   #services .slider .wrapper-full .slides .slide::before{
    display: none;
   }
   #services .slider .wrapper-full .slides::before{
    content: '';
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-image: url('./assets/bg-servicos.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: -1;
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity .3s ease-in-out;
  }
    /*======== SYSTEMS ====================================*/
    #systems .wrapper h2{
      font-size: 4rem;
      line-height: 4.9rem;
    }
    #systems .wrapper h2::after{
      top: calc(50% + 2.6rem);
      right: 98%;
    }
    #systems .wrapper .systems{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #systems .wrapper .systems div img{
      width: 40rem;
    }
    /*======== TEAM ====================================*/
    section#team {
      background-image: url('./assets/ProAeroEquipe_2-2.jpg');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
    #team .wrapper {
      padding-top: calc(5rem + var(--nav-height));
    }
    #team .wrapper .col-A{
      max-width: 30%;
    }
    #team .wrapper .col-A:after{
      display: none;
    }
    /*======== CONTACT ====================================*/
    #contact .wrapper{
      height: calc(100vh - var(--nav-height));

      flex-direction: row;
    }
    #contact .wrapper .col-A h2{
      max-width: 100%;
      margin-bottom: 0;
    }
    #contact .wrapper h2::after{
      display: none;
    }
    #contact h2 + p::before{
      content: '';
      width: 100vw;
      height: 1px;
      transform: translateX(-101%);
      top: 3.8rem;
      background-color: var(--secondary-color);
      position: absolute;
      display: block;
    }
    #contact > .wrapper > img{
      padding-top: 5rem;
      width: 100%;
      max-width: 20rem;
    }
    /*======== FOOTER ====================================*/
    #contact footer{
      position: initial;
      height: auto;
    }
    #contact footer .wrapper{
      width: 100%;
      padding: 5rem;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 2rem;

      justify-content: space-around;
      align-items: center;
    }
    #contact footer .wrapper .logo img{
      width: 25.8rem;
    }
    #contact footer .wrapper .social-links h2{
      width: fit-content;
      line-height: 3.9rem; 
      max-width: 100%;
    }
    #contact footer .wrapper .social-links h2::after{
      display: none;
    }
    #contact footer .wrapper .social-links ul{
      display: flex;
      flex-direction: row;
      gap: 5rem;
    }
    #contact footer .wrapper .infos {
      width: initial;
      display: flex;
      flex-direction: column;
    }
    #contact footer .wrapper .infos p{
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }
    #contact footer .wrapper .infos span {
      display: unset;
      width: min-content;
    }
    #contact footer .wrapper .infos p:last-of-type{
      text-align: left;
    }
}